.user-cards-section {
  max-width: 1200px;
  margin: 8rem auto;
  padding: 0 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .user-card {
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 0.6) 0%, hsla(186, 100%, 69%, 0.6) 100%);
    border-radius: 20px;
    color: white !important;
    padding: 1rem;
    height: 12rem;

    .user-card-info {
        color: #ffffff !important;
        .ant-card-meta-title {
            font-size: 22px;
            color: #ffffff;
        }
        .ant-card-meta-description {
            color: rgba($color: #ffffff, $alpha: 0.8);
            font-size: 18px;
        }
    }
  }
}