.button{
    position: fixed;
    right:2%;
    bottom:2%;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
    outline:none;
}


.img{
    background: transparent;
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}