.footer-distributed {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-img {
  width: 300px;
  max-width: 100%;
}
.copyright {
  margin-left: 60px !important;
}
.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Custom Scroll-bar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.644);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.541);
}

::-webkit-scrollbar-corner {
  background: #999;
}

::-webkit-resizer {
  background: #fff;
}

/* End of Custom Scroll-bar styles */

/*PreLoader */

.preloader {
  position: fixed;
  display: block;
  width: 100wh;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(147, 224, 235, 0.863);
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader img {
  height: auto;
  width: 20%;
}
.preloader img::selection {
  background: transparent;
}

/*End of Preloader */

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-right {
    margin-top: 20px;
  }
  .copyright {
    margin-left: 0px !important;
  }
}
